@font-face {
    font-family: 'Neue';
    src: url('./public/neue.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
@tailwind base;
@tailwind components;
@tailwind utilities;